<mat-tab-group>
  <mat-tab label="Tab 1">
    <mat-chip-list>
      <div *ngFor="let hero of heroes" class="chip">
      <mat-chip [ngClass]="{show: hero.selected, hide: !hero.selected}" selected="false" #test (click)="toggleSelect(hero)">{{hero.name}}
          <mat-icon  *ngIf="hero.selected">done</mat-icon>
      </mat-chip>
      </div>
    </mat-chip-list>

  </mat-tab>
  <mat-tab label="Tab 2">
    <mat-chip-list>
      <div *ngFor="let hero of heroes" class="chip">
      <mat-chip [ngClass]="{show: hero.selected, hide: !hero.selected}" selected="false" #test (click)="toggleSelect(hero)">{{hero.name}}
          <mat-icon  *ngIf="hero.selected">done</mat-icon>
      </mat-chip>
      </div>
    </mat-chip-list>
  </mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group>